os: linux
dist: bionic
services:
  - docker
language: python
python:
  - "3.7"
cache:
  pip: true
addons:
  apt:
    update: true
    packages:
      - openvswitch-switch
install:
  - set -e
  - bin/setup_daq
script:
  - set -e
  - bin/test_daq
env:
  global:
    - DOCKER_STARTUP_TIMEOUT_MS=60000
  jobs:
    #- DAQ_TEST=base
    #- DAQ_TEST=many
    - DAQ_TEST=aux
    #- DAQ_TEST=topo
    #- DAQ_TEST=modules
    #- DAQ_TEST=dhcp
