div {
    font-family: Arial, Helvetica, sans-serif;
}

.daq-text {
    padding: 5px;
}

#testgrid table {
    border-spacing: 0;
}

#testgrid table tr.timeout {
    display: none;
}

#testgrid table td {
    border: 1px solid grey;
    padding: 4px;
    background: #DDD;
    min-width: 2em;
}

#testgrid table tr ~ tr td ~ td.old {
    opacity: 0.5;
}

#testgrid table tr ~ tr td ~ td.gone {
    opacity: 0.5;
    background: #DDD;
    color: rgba(0,0,0,0);
}

#testgrid table tr ~ tr td[status=pass] {
    background: #AEA;
}

#testgrid table tr ~ tr td[status=fail] {
    background: #FAA;
}

#testgrid table tr ~ tr td[status=run] {
    background: #EE6;
}

#testgrid table tr ~ tr td[label=info] {
    background: #FFF;
}

#testgrid table tr ~ tr td[label=timer] {
    background: #EEE;
}
