#testgrid table {
    border-spacing: 0;
}

#testgrid table td {
    border: 1px solid grey;
    padding: 4px;
    background: #DDF;
}

/* Don't apply to first row or column. */
#testgrid table tr ~ tr td ~ td.old {
    opacity: 0.4;
}

#testgrid table td[status=pass] {
    background: #DFD;
}

#testgrid table td[status=fail] {
    background: #FDD;
}

#testgrid table td[status=run] {
    background: #FDF;
}
