cairocffi==1.2.0
codecov
coverage
cryptography
firebase-admin==2.18.0
google-api-core==1.16.0
google-cloud-core==1.3.0
google-cloud-firestore==1.6.0
google-cloud-logging==1.15.1
google-cloud-pubsub==0.45.0
google-cloud-storage==1.16.1
grpcio-tools==1.30.0
Jinja2
jwt
netaddr
netifaces
networkx
paho_mqtt
prometheus_client
pylint==2.4.2
pypandoc==1.5
pytricia
pyyaml
requests
ryu
WeasyPrint==52.4
xcffib
