# Example configuration file for using an OVS switch not managed by DAQ.

# Load defaults.
include: config/system/default.yaml

# Description for dashboard.
site_description: "Alternate switch (not managed by DAQ) configuration"

# Network switch configuration.
switch_setup:
  data_intf: alt-intf
  alt_port: 6669
  uplink_port: 100
  ext_br: alt-switch
  model: EXT_STACK

# Faux device connection for testing.
interfaces:
  faux-1:
    opts: 
    port: 2
  faux-2:
    opts: -n 
    port: 3

default_timeout_sec: 120

# use vlan trigger
run_trigger:
  vlan_start: 2000
  vlan_end: 2050
